n8n/N8N.json
{
  "name": "ITfest",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -432,
        -32
      ],
      "id": "151649d4-470e-42e0-adc5-0fa049d05c0d",
      "name": "Telegram Trigger",
      "webhookId": "8f4ff06a-0936-4344-804e-76e7d8566cc2",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $items(\"Telegram Trigger\")[0].json.message.from.id }}",
        "text": "={{ $json.text }}\n\nЕсли вам нужна помощь оператора нажмите сюда /h",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4704,
        -176
      ],
      "id": "cf8b18ea-0309-4ad7-b059-51d773182c6f",
      "name": "Send a text message",
      "webhookId": "6f755fd4-ac0e-48f5-8b9f-7c2c7e8c1c55",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Input').item.json.message.text }}",
        "categories": {
          "categories": [
            {
              "category": "Promt",
              "description": "=Сообщение содержит конкретную, чётко описанную IT-проблему.\n- Понятно, что не работает, где, при каком действии.\n- Присутствует техническая сущность: сервис, устройство, ошибка, система, доступ.\n- Пользователь явно ожидает техническую помощь."
            },
            {
              "category": "Trash",
              "description": "=- Нет конкретики (что именно не работает).\n- Нет технических терминов или сущностей.\n- Сообщение абстрактное, пустое, бессмысленное, тестовое, разговорное или не по теме.\n- Содержит эмоции, но не содержит фактов."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1200,
        -128
      ],
      "id": "dc366601-5abb-44ca-92e1-859ff77e6a30",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $items(\"Telegram Trigger\")[0].json.message.text }}\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "Ты — интеллектуальный помощник HelpDesk компании Казахтелеком.\n\nТвоя задача — вежливо, понятно и точно помогать пользователю разобраться с его вопросом или проблемой, связанной с услугами связи или внутренними IT-системами.  \nТы не занимаешься классификацией, маршрутизацией, приоритетами и другими внутренними процессами — только помогаешь человеку.\n\nТВОИ ОСНОВНЫЕ ЗАДАЧИ:\n1. Объяснять решения простым языком, понятным любому пользователю.\n2. Давать пошаговые рекомендации по устранению проблем.\n3. Задавать уточняющие вопросы, если информации недостаточно.\n4. Разбирать вопросы, связанные с:\n   — фиксированным интернетом (дом/офис, Wi-Fi, роутеры, модемы);  \n   — мобильной связью (звонки, SMS, мобильный интернет, роуминг);  \n   — IPTV и телевидением;  \n   — личным кабинетом и мобильным приложением;  \n   — оплатой, балансом, услугами и их параметрами;  \n   — корпоративными B2B сервисами;  \n   — внутренней IT-инфраструктурой для сотрудников (доступы, VPN, почта, оборудование рабочего места).\n5. Предлагать самые простые и безопасные рекомендации в первую очередь.\n6. Не выдумывать факты — если чего-то не знаешь, проси уточнений.\n\nПРАВИЛА РАБОТЫ:\n— Не используешь технических терминов без необходимости — объясняй максимально ясно.  \n— Не предлагаешь потенциально рискованных действий (например, жёсткий сброс оборудования) без подтверждённых причин.  \n— Если есть несколько возможных решений, перечисляй их от простых к сложным.  \n— Следи за культурой общения: будь вежливым, спокойным, уважительным.  \n— Если пользователь отвечает агрессивно, ты всегда сохраняешь нейтральный тон.  \n— Всегда поддерживай диалог: уточняй детали, помогай понять причину проблемы, предлагай варианты.\n\nТЫ НЕ ДЕЛАЕШЬ:\n— не открываешь заявки;  \n— не присваиваешь приоритеты;  \n— не перенаправляешь обращение;  \n— не упоминаешь никакие внутренние процессы.\n\nТы — просто дружелюбный и профессиональный помощник, который старается максимально быстро и понятно решить проблему пользователя.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3968,
        -176
      ],
      "id": "329911e0-eac2-40d7-9390-80cec92619bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $items(\"Telegram Trigger\")[0].json.message.from.id }}\n",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4064,
        -16
      ],
      "id": "9290b342-b22b-497f-9598-6b2cdef72f6f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3872,
        -32
      ],
      "id": "98b67315-3871-4293-b23e-486a2aead777",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "BVawxLzUNwbQXGy8",
          "name": "third"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1184,
        32
      ],
      "id": "ed819e14-4816-4390-b38e-a0ddc7c6cbbb",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "OpFcrJNESaQvs2Aq",
          "name": "second"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Здравствуйте! 👋  \nЯ — виртуальный помощник IT HelpDesk.  \nПомогу создать и классифицировать ваш запрос, определить тип проблемы, тему услуги, приоритет и маршрутизацию.\n\nПожалуйста, опишите вашу проблему максимально подробно:  \n— что именно не работает;  \n— когда началось;  \n— какое устройство или система используется;  \n— что уже пробовали делать.\n\nПосле обработки я автоматически создам тикет и направлю его в правильную очередь.\n\nЕсли вам нужен живой оператор — используйте команду:  \n/h — переключение на оператора.\n\nЧтобы завершить тикет и закрыть текущий диалог, отправьте команду:  \n/end — закрытие тикета.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -320
      ],
      "id": "1a252e15-5155-44b5-81f8-0b58e9da2eb5",
      "name": "Send a text message1",
      "webhookId": "6f755fd4-ac0e-48f5-8b9f-7c2c7e8c1c55",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ddc4372-5a20-449a-a730-32ff409c8108",
              "name": "message.from.id",
              "value": "={{ $json.message.from.id }}",
              "type": "number"
            },
            {
              "id": "25483b79-d6d7-49b0-aee5-dc8b6ffc9d2a",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "5441b010-c641-4fd6-aab4-3bdfe59c57c1",
              "name": "message.from.first_name",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -16
      ],
      "id": "a19faafb-a042-473a-88d4-dd50bae84306",
      "name": "Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "552a1c69-b142-4269-ae1f-3ca1b203419d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        -32
      ],
      "id": "5bddd606-7a9e-46e4-abf5-edd608af0c9f",
      "name": "If1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "eKfg24cv0NCfk4D4",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/eKfg24cv0NCfk4D4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tid": "={{ $json.chat_id }}",
            "theme": "={{ $json.theme }}",
            "type": "={{ $json.type }}",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tid",
              "displayName": "tid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4112,
        -1344
      ],
      "id": "e6b8cc68-3b1e-4299-ae32-8c4a4b16a9c2",
      "name": "Insert row",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2144,
        -608
      ],
      "id": "15e38fe1-0b69-4c4b-a2dc-4fa9b342f538",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "OpFcrJNESaQvs2Aq",
          "name": "second"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "category",
              "value": "critical",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -944
      ],
      "id": "5ea72c08-ca20-4c26-8ae3-238610cae9d6",
      "name": "Category"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "category",
              "value": "high",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -832
      ],
      "id": "a56730f5-b071-4135-8cf1-0cc1416898d7",
      "name": "Category1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "category",
              "value": "normal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -720
      ],
      "id": "1f13b004-3fec-4b82-88a7-f7b037fd8ac6",
      "name": "Category2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "category",
              "value": "low",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -608
      ],
      "id": "688c8b65-4678-4493-be10-7c2029e17b11",
      "name": "Category3"
    },
    {
      "parameters": {
        "inputText": "={{ $('Input').item.json.message.text }}",
        "categories": {
          "categories": [
            {
              "category": "CRITICAL",
              "description": "=PRIORITY P1 — CRITICAL Выбирается, когда критичный сервис недоступен и работа полностью заблокирована у отдела, части офиса или всего офиса. Также выбирается, если один ключевой сотрудник (контакт-центр, руководитель, касса, оператор) полностью заблокирован и нет обходного решения. Типичные признаки: массовые сбои, CRM/почта/VPN/домен не работают, невозможность входа в систему, критичные инциденты."
            },
            {
              "category": "HIGH",
              "description": "PRIORITY P2 — HIGH Выбирается, когда проблема в критичном сервисе, но затронут один или несколько сотрудников, не весь офис. Работа частично возможна, либо есть обходной путь. Типичные ситуации: CRM не запускается у одного человека, VPN не работает, почта частично недоступна, нужны срочные действия из-за дедлайна."
            },
            {
              "category": "NORMAL",
              "description": "PRIORITY P3 — NORMAL Выбирается, когда проблема затрагивает некритичные системы. Работа возможна, но менее удобна. Типичные примеры: принтер/сканер не работает, сбои в офисном ПО, мелкие проблемы с рабочим местом, отдельные настройки."
            },
            {
              "category": "LOW",
              "description": "Выбирается для некритичных пожеланий, улучшений и задач “когда будет время”. Работа сотрудника не нарушена. Примеры: установить новую версию Office при работающей старой, добавить шрифт, сделать косметические настройки."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Ты – модель маршрутизации заявок внутреннего IT-HelpDesk для офисных сотрудников компании.\n\nТвоя задача: по тексту заявки определить её приоритет. \nУ тебя есть 4 уровня приоритета: P1, P2, P3, P4.\n\nДля классификации оцени следующие признаки по тексту:\n1. Охват проблемы (impact): \n   - ONE – один сотрудник\n   - TEAM – группа/отдел\n   - OFFICE – целый офис/часть офиса/несколько отделов\n2. Степень блокировки работы (work_block):\n   - FULL – работа невозможна\n   - PARTIAL – можно работать, но сильно ограничено\n   - MINOR – мелкое неудобство\n3. Критичность сервиса (service_criticality):\n   - CRITICAL – доменная учётка, Windows login, VPN, корпоративная сеть, почта, CRM, биллинг, документооборот\n   - NON_CRITICAL – принтеры, сканеры, локальные программы, офисное ПО, оборудование рабочего места\n4. Срочность (urgency):\n   - DEADLINE_TODAY – дедлайн, встреча, отчёт сегодня\n   - NORMAL – обычный режим\n5. Обходное решение (workaround):\n   - YES – есть альтернативный способ временно работать\n   - NO – альтернативы нет\n\nИспользуй следующие правила определения приоритета:\n\nP1 – Критический\nВыбирай этот приоритет, если:\n- TEAM или OFFICE затронуты критичные сервисы, и работа полностью заблокирована.\nИЛИ\n- Один сотрудник со значимой ролью полностью заблокирован в критичном сервисе, и обходного пути нет.\n\nP2 – Высокий\nВыбирай, если:\n- ONE или TEAM.\n- Проблема в критичном сервисе.\n- PARTIAL блокировка ИЛИ полная блокировка, но есть обходной путь.\n\nP3 – Нормальный\nВыбирай, если:\n- Проблема в некритичном сервисе.\n- Есть возможность работать (PARTIAL или MINOR).\n\nP4 – Низкий\nВыбирай, если:\n- Это пожелание/улучшение/доработка.\n- Работа не блокируется."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        2160,
        -800
      ],
      "id": "f826da23-0e7d-4ff7-83a7-c394f9b64c10",
      "name": "Priority"
    },
    {
      "parameters": {
        "inputText": "={{ $('Input').item.json.message.text }}",
        "categories": {
          "categories": [
            {
              "category": "INTERNET_FIXED",
              "description": "TOPIC: INTERNET_FIXED Домашний или офисный интернет: отсутствие связи, низкая скорость, обрывы, настройка Wi-Fi, проблемы с роутером, подключение нового абонента, перенос точки, блокировка по неуплате."
            },
            {
              "category": "MOBILE",
              "description": "TOPIC: MOBILE Мобильная связь: нет сети, мобильный интернет не работает, роуминг, не проходят звонки/SMS, смена SIM/eSIM, активация пакетов."
            },
            {
              "category": "IPTV",
              "description": "TOPIC: IPTV Телевидение/IPTV: ошибки приставки, отсутствуют каналы, проблемы со звуком/картинкой, настройка пульта, подключение пакетов каналов."
            },
            {
              "category": "TELEPHONY",
              "description": "TOPIC: TELEPHONY Фиксированная телефония: нет гудка, шумы, не проходят вызовы, перенос номера, подключение дополнительных услуг."
            },
            {
              "category": "PORTAL_APP",
              "description": "TOPIC: PORTAL_APP Личный кабинет и мобильное приложение: вход, регистрация, SMS-код, отображение услуг, ошибки оплаты, смена персональных данных."
            },
            {
              "category": "BILLING_SYSTEM",
              "description": "TOPIC: BILLING_SYSTEM Оплата, счета, задолженности, квитанции, договоры, переоформление, детализация, возврат средств, автоплатежи и спорные платежи."
            },
            {
              "category": "B2B_SERVICES",
              "description": "TOPIC: B2B_SERVICES Корпоративные услуги: массовые аварии, инциденты на сетях предприятий, аренда линий, VPN L2/L3, сервисы для госучреждений, дата-центры, SLA."
            },
            {
              "category": "INTERNAL_IT",
              "description": "=TOPIC: INTERNAL_IT Внутренний Help Desk сотрудников: доступы в CRM, почта, VPN, корпоративные системы, проблемы с ПК/принтерами, пропуска, доменные пароли."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Ты — классификатор темы услуги (topic) в Help Desk компании Казахтелеком.  \nТвоя задача — по тексту обращения определить, к какой категории относится проблема или вопрос.\n\nТемы (topic):\n1. INTERNET_FIXED — фиксированный интернет (дом/офис, Wi-Fi, роутер).\n2. MOBILE — мобильная связь и мобильный интернет.\n3. IPTV — телевидение / IPTV / приставка.\n4. TELEPHONY — фиксированная телефония.\n5. PORTAL_APP — личный кабинет и мобильное приложение.\n6. BILLING_SYSTEM — оплата, счета, договоры, задолженность.\n7. B2B_SERVICES — услуги для корпоративных клиентов, аварии по объектам.\n8. INTERNAL_IT — внутренний Help Desk сотрудников (доступ, VPN, почта, рабочее место).\n\nЕсли тем несколько — выбирай основную.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        2208,
        -1424
      ],
      "id": "6c688154-f5b6-424c-949c-7e8fe2134562",
      "name": "Theme"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2208,
        -1072
      ],
      "id": "5319281e-554f-4fb8-a49e-9444e0b21e9d",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "UX1M7MvpXFHBPEbr",
          "name": "first"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2048,
        -1824
      ],
      "id": "86577d12-cff4-44dd-bb34-3a24603fc1b1",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "OpFcrJNESaQvs2Aq",
          "name": "second"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Input').item.json.message.text }}",
        "categories": {
          "categories": [
            {
              "category": "INFORMATION",
              "description": "TYPE: INFORMATION Пользователь спрашивает справочную информацию: тарифы, условия, процессы, как что-то сделать, где находится офис, как подключить услугу, как работает функция. Нет неисправности, жалобы или необходимости технического вмешательства."
            },
            {
              "category": "INCIDENT",
              "description": "=TYPE: INCIDENT Пользователь сообщает о неисправности: нет интернета, не работают каналы, пропадает связь, не запускается CRM, мобильный интернет не работает, ошибки в приложении, обрывы, низкая скорость. Это поломка или деградация услуги."
            },
            {
              "category": "SERVICE_REQUEST",
              "description": "TYPE: SERVICE_REQUEST Пользователь хочет выполнить действие: подключить услугу, отключить, сменить тариф, перенести точку, заказать оборудование, сменить SIM/eSIM, активировать опцию. Это не поломка, а именно запрос на сервис."
            },
            {
              "category": "BILLING",
              "description": "TYPE: BILLING Проблемы и вопросы, связанные с оплатой, счетами, задолженностью, квитанциями, детализацией, договором, сменой владельца, возвратом средств, автоплатежами и спорными операциями."
            },
            {
              "category": "COMPLAINT",
              "description": "TYPE: COMPLAINT Недовольство качеством услуг или действиями компании: плохая связь, задержка мастера, хамство, неправильный счёт, долгий ремонт, некорректная работа услуги, нарушение сроков. Пользователь выражает эмоциональную или формальную претензию."
            },
            {
              "category": "PRODUCT_QUESTION",
              "description": "TYPE: PRODUCT_QUESTION Вопросы о новых продуктах, функциональности, идеях, улучшениях. Не неполадка и не сервисная операция, а обсуждение возможностей услуги. Примеры: \"Будет ли безлимит?\", \"Можно добавить каналы?\""
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Ты — классификатор типа запроса для Help Desk компании Казахтелеком.  \nТвоя задача — по тексту обращения определить, к какой категории относится запрос.\n\nТипы запросов (type):\n1. INFORMATION — информационный запрос, справка.\n2. INCIDENT — неполадка, сбой в работе услуги.\n3. SERVICE_REQUEST — подключение/отключение/изменение услуги.\n4. BILLING — вопросы оплаты, договоров, задолженности.\n5. COMPLAINT — жалоба, претензия, недовольство.\n6. PRODUCT_QUESTION — вопросы и предложения по продуктам.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        2048,
        -2096
      ],
      "id": "30788a21-8449-4fdc-bea2-a2fac65a5378",
      "name": "Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "type",
              "value": "information",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -2384
      ],
      "id": "ccb26b3f-cca1-476e-81c8-8697e9359a06",
      "name": "type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "type",
              "value": "incident",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -2272
      ],
      "id": "928ed648-ad20-4a19-9753-ca9fe38f43a5",
      "name": "type1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "type",
              "value": "service_request",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -2160
      ],
      "id": "8e0aff6f-1d5c-4db3-b6c6-1d60cf95168a",
      "name": "type2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "type",
              "value": "billing",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -2048
      ],
      "id": "fc8c74f3-2fc5-46cc-828c-598132bb9b0e",
      "name": "type3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "type",
              "value": "complaint",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -1936
      ],
      "id": "faba9679-9d48-4930-809d-2abda5f3aae3",
      "name": "type4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "type",
              "value": "product_question",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -1824
      ],
      "id": "1a01439d-92d2-49ec-8617-18475677fca6",
      "name": "type5"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2832,
        -816
      ],
      "id": "21d94244-2cc8-47ee-9c3c-4e7371381f7a",
      "name": "PRIORITY"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2784,
        -2160
      ],
      "id": "501a0cd8-8710-4481-bf3b-e723d431a599",
      "name": "TYPE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "internet_fixed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1856
      ],
      "id": "f966eca2-da0a-4a02-a700-56d4d971a605",
      "name": "theme"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "mobile",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1744
      ],
      "id": "76e069a0-217b-413a-8aa5-ce08fae86e35",
      "name": "theme1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "iptv",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1616
      ],
      "id": "fd5457d5-35be-427c-82eb-e45dfee1a1e6",
      "name": "theme2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "telephony",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1488
      ],
      "id": "1eac194e-b8ef-46e2-a064-336e182d69f0",
      "name": "theme3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "portal_app",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1360
      ],
      "id": "c90097d4-67b1-47f1-86d6-cd0ca5d5635c",
      "name": "theme4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "billing_system",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1232
      ],
      "id": "c347ead9-2026-462e-a973-8a979d15e680",
      "name": "theme5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "b2b_services",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1120
      ],
      "id": "6b6a7b5b-be9d-4957-af83-da00e8c22d6d",
      "name": "theme6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e0f71-3492-47fd-815a-219f020e535e",
              "name": "theme",
              "value": "internal_it",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -1008
      ],
      "id": "c617f64f-68b2-4c1c-ad8f-359f04d36111",
      "name": "theme7"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3168,
        -1504
      ],
      "id": "d00aa28c-f2c2-438c-a463-d09cea8b6161",
      "name": "THEME"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3568,
        -1392
      ],
      "id": "c356988b-1b0e-41ca-a11d-df95ceae892c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Склеиваем все items в один объект\nconst result = {};\n\nfor (const item of items) {\n  const obj = item.json;\n  for (const key of Object.keys(obj)) {\n    const value = obj[key];\n    if (value !== undefined && value !== null) {\n      result[key] = value;\n    }\n  }\n}\n\n// Добавляем chat_id из Telegram Trigger\n// (берём всегда первый item = item(0) — безопасно)\nresult.chat_id = $item(0).$node[\"Telegram Trigger\"].json.message.chat.id;\n\n// Возвращаем один item с общим объектом\nreturn [\n  {\n    json: result,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3888,
        -1344
      ],
      "id": "2ce60bf3-e998-40b0-bd6c-1501272f7c76",
      "name": "TO OUT"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "eKfg24cv0NCfk4D4",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/eKfg24cv0NCfk4D4"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tid",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        592,
        -320
      ],
      "id": "777fcfce-aa4e-4c88-951f-f4f28373aa74",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "fMHs7Mn4OsdaXoqX",
          "mode": "list",
          "cachedResultName": "Chats",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/fMHs7Mn4OsdaXoqX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tid",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        864,
        -320
      ],
      "id": "6dbccbf2-819e-46d9-b5e2-0d88cb21dd70",
      "name": "Delete row(s)1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.from.first_name }}, Ваш тикет успешно закрыт, спасибо за обращение. ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -320
      ],
      "id": "294c01a8-10d0-4d3a-bd0b-ae8d806688a1",
      "name": "Send a text message3",
      "webhookId": "6f755fd4-ac0e-48f5-8b9f-7c2c7e8c1c55",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Переключаю на оператора",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        640
      ],
      "id": "a74b015d-f2ba-4aab-b85c-2e2425e228e7",
      "name": "Оператор",
      "webhookId": "6f755fd4-ac0e-48f5-8b9f-7c2c7e8c1c55",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eKfg24cv0NCfk4D4",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/eKfg24cv0NCfk4D4"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tid",
              "keyValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        768,
        624
      ],
      "id": "f09345f2-e790-4bf4-8fb9-977701c2da53",
      "name": "Ticket"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fMHs7Mn4OsdaXoqX",
          "mode": "list",
          "cachedResultName": "Chats",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/fMHs7Mn4OsdaXoqX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "tid",
              "keyValue": "={{ $('Перенаправление по командам').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        768,
        768
      ],
      "id": "db7f0510-377e-4682-8ee4-44a1a0c23d28",
      "name": "Chat"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eKfg24cv0NCfk4D4",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/eKfg24cv0NCfk4D4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tid",
              "keyValue": "={{ $('Input').item.json.message.from.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1552,
        -32
      ],
      "id": "9ab9b3bc-9faa-4446-bb68-243028d0eb5d",
      "name": "Проверка",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fMHs7Mn4OsdaXoqX",
          "mode": "list",
          "cachedResultName": "Chats",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/fMHs7Mn4OsdaXoqX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isAI": false,
            "tid": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "text": "={{ $('Telegram Trigger').item.json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tid",
              "displayName": "tid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isAI",
              "displayName": "isAI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        928,
        -16
      ],
      "id": "6e7cf32b-ca0f-4f35-884c-6ba712a2ba53",
      "name": "Чат"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "fMHs7Mn4OsdaXoqX",
          "mode": "list",
          "cachedResultName": "Chats",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/fMHs7Mn4OsdaXoqX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isAI": true,
            "tid": "={{ $items(\"Telegram Trigger\")[0].json.message.from.id }}",
            "text": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tid",
              "displayName": "tid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isAI",
              "displayName": "isAI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        4320,
        -176
      ],
      "id": "5025bf1e-efd3-4283-92a6-dc55768fe1f9",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "55643329-f2e7-489e-b1f7-ca26bcde08ea"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "784c843f-0c30-49e2-9bf2-59ca44c8c394",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/end",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe02bd34-5580-4947-b9ab-108567cee7eb",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/h",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        144,
        0
      ],
      "id": "032fd604-3849-4533-8ba2-466729fded70",
      "name": "Перенаправление по командам"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        1152
      ],
      "id": "4780d4f0-3242-458e-bf95-d0f55bfd44ab",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $item(0).$node[\"Оператор1\"].json.operator }}\n",
        "binaryData": true,
        "additionalFields": {
          "fileName": "=chat-{{ $('Code in JavaScript').item.json.tid }}.txt"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        1152
      ],
      "id": "da820de1-0abc-4a55-816a-c8adf619805e",
      "name": "Send a document",
      "webhookId": "89f232d7-209d-494e-afcb-95ad380a7a60",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function fmtTime(iso) {\n  return new Date(iso).toLocaleString(\"ru-RU\", {\n    year: \"numeric\",\n    month: \"2-digit\",\n    day: \"2-digit\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\",\n  });\n}\n\nconst tid = items[0]?.json?.tid ?? \"unknown\";\n\nlet out = `ЧАТ tid: ${tid}\\n====================================\\n\\n`;\n\nfor (const item of items) {\n  const { id, text, isAI, createdAt } = item.json;\n\n  const role = isAI ? \"ИИ\" : \"Пользователь\";\n  const time = fmtTime(createdAt || new Date().toISOString());\n  const safeText = (text || \"\").replace(/\\r/g, \"\");\n\n  out += `[${time}] ${role} (#${id}):\\n`;\n  out += safeText + \"\\n\\n------------------------------------\\n\\n\";\n}\n\nreturn [\n  {\n    json: {\n      content: out,\n      tid,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1152
      ],
      "id": "3284e90a-cb0e-4483-bd9b-561e1d5a01bd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Ты — анализатор обращений клиента.\n\nНа вход ты получаешь только текстовые сообщения пользователя подряд. Это истории вопросов клиента, объединённые в один текст.\n\nТвоя задача — кратко и точно сформулировать, что хотел клиент, какая у него проблема и какая помощь ему нужна. Не повторяй дословно весь текст — дай сжатое, понятное человеку резюме.\n\nПравила:\n1. Выделяй главную цель клиента или проблему, которую он пытается решить.\n2. Игнорируй повторяющиеся или пустые фразы.\n3. Указывай только суть: что конкретно не работает, что клиент хочет сделать или понять.\n4. Пиши коротко — 1–3 предложения.\n\nФормат ответа:\n— краткое описание проблемы/запроса для оператора.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1232,
        800
      ],
      "id": "82dff4ad-dbc5-4713-9004-bcf64c7df60b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "\nconst userTexts = items\n  .filter(i => i.json.isAI === false)\n  .map(i => i.json.text || \"\")\n  .join(\"\\n\\n\"); \n\nreturn [\n  {\n    json: {\n      text: userTexts\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        880
      ],
      "id": "6ab10410-a5b8-437b-b7bd-8d02c4d4450c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1232,
        928
      ],
      "id": "854fa94c-2c17-453a-bdd9-d6b0dee9a61f",
      "name": "Groq Chat Model5",
      "credentials": {
        "groqApi": {
          "id": "OpFcrJNESaQvs2Aq",
          "name": "second"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc380f6c-21de-4f42-a290-50953344f155",
              "name": "operator",
              "value": 928513056,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        640
      ],
      "id": "c3c276e2-a34d-4dac-8cc7-19156e392a9f",
      "name": "Оператор1"
    },
    {
      "parameters": {
        "chatId": "={{ $item(0).$node[\"Оператор1\"].json.operator }}\n",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        784
      ],
      "id": "0425b106-5cff-449b-84ad-91cb25e3c10e",
      "name": "Send a text message2",
      "webhookId": "89f232d7-209d-494e-afcb-95ad380a7a60",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $item(0).$node[\"Оператор1\"].json.operator }}\n",
        "text": "=@{{ $('Telegram Trigger').item.json.message.chat.username }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        784,
        1072
      ],
      "id": "0936c148-5b95-45e9-a297-0a977f5c8242",
      "name": "ЛОгин Клиента",
      "webhookId": "89f232d7-209d-494e-afcb-95ad380a7a60",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $item(0).$node[\"Оператор1\"].json.operator }}\n",
        "text": "=Тема запроса - {{ $json.theme.replace(/_/g, '\\\\_') }} ({{ $json.theme_disc }})\nПриоритет - {{ $json.category }} ({{ $json.category_disc }})\nТип запроса - {{ $json.type }} ({{ $json.type_id_disc }})\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        608
      ],
      "id": "cc512c35-b96e-42e4-b708-6f1a7d304534",
      "name": "ЛОгин Клиента1",
      "webhookId": "89f232d7-209d-494e-afcb-95ad380a7a60",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Берём входной объект (у тебя один item)\nconst item = $json;\n\n// Извлекаем нужные поля\nconst tid      = item.tid;\nconst theme    = item.theme;\nconst category = item.category;\nconst type     = item.type;\n\n/*───────────────────────────────────────────────*/\n/* 1. TYPE_ID + TYPE_ID_DISC                     */\n/*───────────────────────────────────────────────*/\nlet type_id = 0;\nlet type_id_disc = \"Неизвестный тип запроса.\";\n\nif (type === \"information\") {\n  type_id = 1;\n  type_id_disc = \"Информационный запрос: клиент просит справку, инструкцию или уточнение условий услуги.\";\n}\nelse if (type === \"incident\") {\n  type_id = 2;\n  type_id_disc = \"Инцидент: клиент сообщает о неполадке или отказе услуги.\";\n}\nelse if (type === \"service_request\") {\n  type_id = 3;\n  type_id_disc = \"Заявка на услугу: клиент хочет подключить, изменить или отключить сервис.\";\n}\nelse if (type === \"billing\") {\n  type_id = 4;\n  type_id_disc = \"Биллинг: вопросы оплаты, счетов, задолженности, договоров.\";\n}\nelse if (type === \"complaint\") {\n  type_id = 5;\n  type_id_disc = \"Жалоба: недовольство качеством работ, услугой или обслуживанием.\";\n}\nelse if (type === \"product_question\") {\n  type_id = 6;\n  type_id_disc = \"Вопрос по продукту: клиент интересуется функциональностью или предлагает улучшения.\";\n}\n\n/*───────────────────────────────────────────────*/\n/* 2. THEME_DISK                                 */\n/*───────────────────────────────────────────────*/\nlet theme_disc = \"Другая тема / не классифицировано\";\n\nif (theme === 'internal_it') {\n  theme_disc = 'Внутренний HelpDesk: доступы, рабочее место, корпоративные системы, VPN, почта.';\n} else if (theme === 'internet_fixed') {\n  theme_disc = 'Фиксированный интернет: Wi-Fi, роутер, скорость, обрывы.';\n} else if (theme === 'mobile') {\n  theme_disc = 'Мобильная связь: звонки, SMS, интернет, роуминг, SIM/eSIM.';\n} else if (theme === 'iptv') {\n  theme_disc = 'IPTV: каналы, приставка, звук/картинка.';\n} else if (theme === 'telephony') {\n  theme_disc = 'Фиксированная телефония: гудок, вызовы, шумы.';\n} else if (theme === 'portal_app') {\n  theme_disc = 'Личный кабинет/приложение: вход, регистрация, отображение услуг, оплаты.';\n} else if (theme === 'billing_system') {\n  theme_disc = 'Оплаты: счета, задолженность, договоры, автоплатежи.';\n} else if (theme === 'b2b_services') {\n  theme_disc = 'B2B услуги: аварии по объектам, VPN L2/L3, аренда линий, дата-центры.';\n}\n\n/*───────────────────────────────────────────────*/\n/* 3. CATEGORY_DISC                               */\n/*───────────────────────────────────────────────*/\nlet category_disc = 'Обычный приоритет.';\n\nif (category === 'critical') {\n  category_disc = 'Критично: требует немедленной обработки.';\n} else if (category === 'high') {\n  category_disc = 'Высокая важность: желательно обработать первыми.';\n} else if (category === 'normal') {\n  category_disc = 'Обычный приоритет: стандартные сроки.';\n} else if (category === 'low') {\n  category_disc = 'Низкий приоритет: можно обработать позже.';\n}\n\n/*───────────────────────────────────────────────*/\n/* 4. Формируем итоговый JSON                     */\n/*───────────────────────────────────────────────*/\nreturn [\n  {\n    json: {\n      tid: tid,\n      theme: theme,\n      theme_disc: theme_disc,\n      category: category,\n      category_disc: category_disc,\n      type: type,\n      type_id: type_id,\n      type_id_disc: type_id_disc\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        624
      ],
      "id": "2c77bef4-2003-4ec3-99f2-db772821f733",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "let text = $items('AI Agent')[0].json.output || '';\n\nconst allowedTags = [\"b\", \"strong\", \"i\", \"em\", \"u\", \"s\", \"a\", \"code\", \"pre\", \"tg-spoiler\"];\n\n// 1) Сначала конвертируем базовый Markdown -> HTML,\n// чтобы Telegram нормально его понял, а звёздочки ушли\n\n// маркдаун-списки вида \"* что-то\" → буллеты\ntext = text.replace(/^\\s*\\*\\s+/gm, '• ');\n\n// жирный текст: **text** → <b>text</b>\ntext = text.replace(/\\*\\*(.+?)\\*\\*/g, '<b>$1</b>');\n\n// курсив: *text* → <i>text</i>\n// (после того как обработали **...**, чтобы не сломать)\ntext = text.replace(/\\*(.+?)\\*/g, '<i>$1</i>');\n\n// на всякий случай уберём одиночные оставшиеся звёздочки\ntext = text.replace(/\\*/g, '');\n\n// 2) Функция экранирования HTML\nfunction escapeHtml(str) {\n  return str\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\")\n    .replace(/\"/g, \"&quot;\")\n    .replace(/'/g, \"&#39;\");\n}\n\n// Сначала экранируем вообще всё\nlet escaped = escapeHtml(text);\n\n// 3) Потом возвращаем разрешённые теги из оригинального текста\nallowedTags.forEach(tag => {\n  const tagPattern = new RegExp(`<${tag}(\\\\s[^>]*?)?>[\\\\s\\\\S]*?<\\\\/${tag}>`, \"gi\");\n  const selfClosePattern = new RegExp(`<${tag}(\\\\s[^>]*?)?\\\\/>`, \"gi\");\n\n  let match;\n  while ((match = tagPattern.exec(text)) !== null) {\n    const originalFragment = match[0];              // <b>...</b>\n    const escapedFragment = escapeHtml(originalFragment); // &lt;b&gt;...&lt;/b&gt;\n    escaped = escaped.split(escapedFragment).join(originalFragment);\n  }\n\n  while ((match = selfClosePattern.exec(text)) !== null) {\n    const originalFragment = match[0];\n    const escapedFragment = escapeHtml(originalFragment);\n    escaped = escaped.split(escapedFragment).join(originalFragment);\n  }\n});\n\n// 4) Возвращаем json с очищенным HTML для Telegram\nreturn {\n  json: {\n    text: escaped\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4528,
        -176
      ],
      "id": "1a93bbec-fda3-418a-b3c2-07f4cfd06bb5",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Можете подробнее описать свою проблему",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        224
      ],
      "id": "52251c7d-f4d2-42c0-bcd0-7ee4cb29b789",
      "name": "Оператор2",
      "webhookId": "6f755fd4-ac0e-48f5-8b9f-7c2c7e8c1c55",
      "credentials": {
        "telegramApi": {
          "id": "Gu7nrIxKo9GO7eaP",
          "name": "ITfestte"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eKfg24cv0NCfk4D4",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "/projects/5ZN2nSuDar1xnBef/datatables/eKfg24cv0NCfk4D4"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "tid",
              "keyValue": "={{ $json.message.from.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        352,
        144
      ],
      "id": "1168c23f-c189-47da-bfa3-9e2e22d969dd",
      "name": "Проверка1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "552a1c69-b142-4269-ae1f-3ca1b203419d",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        240
      ],
      "id": "bec3acd0-43b1-444c-80e1-0649040a5c29",
      "name": "If2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3984,
        -32
      ],
      "id": "0061b0c1-25fe-4cec-9ffe-b588f1fa818a",
      "name": "Groq Chat Model6",
      "credentials": {
        "groqApi": {
          "id": "BVawxLzUNwbQXGy8",
          "name": "third"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        2320,
        416
      ],
      "id": "0bb7507f-e18b-41d9-aa6a-a8b65467d86e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "wmUGcY8CpyVr6FRa",
          "name": "ITfest"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "Ты — интеллектуальный помощник HelpDesk компании Казахтелеком.\n\nТвоя задача — вежливо, понятно и точно помогать пользователю разобраться с его вопросом или проблемой, связанной с услугами связи или внутренними IT-системами.  \nТы не занимаешься классификацией, маршрутизацией, приоритетами и другими внутренними процессами — только помогаешь человеку.\n\nТВОИ ОСНОВНЫЕ ЗАДАЧИ:\n1. Объяснять решения простым языком, понятным любому пользователю.\n2. Давать пошаговые рекомендации по устранению проблем.\n3. Задавать уточняющие вопросы, если информации недостаточно.\n4. Разбирать вопросы, связанные с:\n   — фиксированным интернетом (дом/офис, Wi-Fi, роутеры, модемы);  \n   — мобильной связью (звонки, SMS, мобильный интернет, роуминг);  \n   — IPTV и телевидением;  \n   — личным кабинетом и мобильным приложением;  \n   — оплатой, балансом, услугами и их параметрами;  \n   — корпоративными B2B сервисами;  \n   — внутренней IT-инфраструктурой для сотрудников (доступы, VPN, почта, оборудование рабочего места).\n5. Предлагать самые простые и безопасные рекомендации в первую очередь.\n6. Не выдумывать факты — если чего-то не знаешь, проси уточнений.\n\nПРАВИЛА РАБОТЫ:\n— Не используешь технических терминов без необходимости — объясняй максимально ясно.  \n— Не предлагаешь потенциально рискованных действий (например, жёсткий сброс оборудования) без подтверждённых причин.  \n— Если есть несколько возможных решений, перечисляй их от простых к сложным.  \n— Следи за культурой общения: будь вежливым, спокойным, уважительным.  \n— Если пользователь отвечает агрессивно, ты всегда сохраняешь нейтральный тон.  \n— Всегда поддерживай диалог: уточняй детали, помогай понять причину проблемы, предлагай варианты.\n\nТЫ НЕ ДЕЛАЕШЬ:\n— не открываешь заявки;  \n— не присваиваешь приоритеты;  \n— не перенаправляешь обращение;  \n— не упоминаешь никакие внутренние процессы.\n\nТы — просто дружелюбный и профессиональный помощник, который старается максимально быстро и понятно решить проблему пользователя.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2528,
        416
      ],
      "id": "d1b85b59-0f49-4cc0-8c11-a82d61ada871",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2512,
        576
      ],
      "id": "02b0b6b8-b74a-4cd7-a97d-df31bd91e818",
      "name": "Groq Chat Model7",
      "credentials": {
        "groqApi": {
          "id": "2Z6SGD9yxAZCVVC9",
          "name": "six"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jokergame434@gmail.com",
        "subject": "Help Desk",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2880,
        416
      ],
      "id": "d95aaf2a-b994-4d24-b0f2-17afb8eb58c5",
      "name": "Send a message",
      "webhookId": "7211cda6-10cc-43b0-a5c8-efbde25fb3ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "wmUGcY8CpyVr6FRa",
          "name": "ITfest"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Перенаправление по командам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Проверка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Чат",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          },
          {
            "node": "Theme",
            "type": "main",
            "index": 0
          },
          {
            "node": "Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Priority",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Category": {
      "main": [
        [
          {
            "node": "PRIORITY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Category1": {
      "main": [
        [
          {
            "node": "PRIORITY",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Category2": {
      "main": [
        [
          {
            "node": "PRIORITY",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Category3": {
      "main": [
        [
          {
            "node": "PRIORITY",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority": {
      "main": [
        [
          {
            "node": "Category",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Category1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Category2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Category3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Theme",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Theme": {
      "main": [
        [
          {
            "node": "theme",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "theme7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Type",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Type": {
      "main": [
        [
          {
            "node": "type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "type1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "type2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "type3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "type4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "type5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type2": {
      "main": [
        [
          {
            "node": "TYPE",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "type": {
      "main": [
        [
          {
            "node": "TYPE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "type1": {
      "main": [
        [
          {
            "node": "TYPE",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "type3": {
      "main": [
        [
          {
            "node": "TYPE",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "type4": {
      "main": [
        [
          {
            "node": "TYPE",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "type5": {
      "main": [
        [
          {
            "node": "TYPE",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "theme": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "theme1": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "theme2": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "theme3": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "theme4": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "theme5": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "theme6": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "theme7": {
      "main": [
        [
          {
            "node": "THEME",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "THEME": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "TYPE": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRIORITY": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "TO OUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TO OUT": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        []
      ]
    },
    "Проверка": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Чат": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Перенаправление по командам": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Оператор1": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ticket",
            "type": "main",
            "index": 0
          },
          {
            "node": "ЛОгин Клиента",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "ЛОгин Клиента1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Оператор": {
      "main": [
        []
      ]
    },
    "Проверка1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Оператор1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Оператор",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Оператор2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "632a80e6-9b82-46d5-9e42-b5206f082f0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5f3e5c50c4a3f99745863ae8ba351f80106669e01f9175a4747059d676fad17"
  },
  "id": "dD5cV0raiaanAfSH",
  "tags": []
}